@import url("https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans:wght@700&family=Roboto:wght@100&family=Truculenta:opsz,wght@12..72,100&display=swap");
html {
  background-color: cornsilk;
}
.App {
  background-color: cornsilk;
  font-family: sans-serif;
  text-align: center;
  margin: 0%;
  font-family: "Truculenta", sans-serif;
}
